<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <a href="/tasks" class="waves-effect waves-light btn"><i class="material-icons left">home</i>Task</a>
    <div class="container">

   

    <div class="row">
       
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><%= task.name %></span>
             
              
              <a class="waves-effect waves-light btn" href="/events/<%= task.id %>/edit">EDIT</a>
              <form action="/events/<%=task.id%>?_method=DELETE" method="POST">
                <button class="btn waves-effect waves-light" type="submit" name="action">Delete
                    <i class="material-icons right">send</i>
                  </button>
                
              </form>
            </div>
            
          </div>
        </div>
    
                
    </div>          
  
    <footer>
        <%- include ('../partials/footer.ejs') %>
    </footer>
</body>
</html>