<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <h1>INDEX GRADES</h1>
    <a href="/school/grades/new">new grades</a>
        <div class="container">

            <div class="row">

                <% for(let i = 0; i < grades.length; i++){ %>

                    <div class="col">
                        <h1><%= grades[i].name %></h1>

                        <a href="/school/grades/<%= grades[i]._id %>"><%= grades[i].name %></a>
                        <h3><%= grades[i].class %></h3>
                        <h3><%= grades[i].category %></h3>
                        <h3><%= grades[i].dateDue %></h3>
                        <h3><%= grades[i].dateSubmitted %></h3>

                        <a href="/school/grades/<%= grades[i]._id %>/edit">EDIT</a>
                        <form action="/school/grades/<%=grades[i]._id%>?_method=DELETE" method="POST">
                            <input type="submit" value="DELETE"/>
                        </form>

                    </div>
                <% } %>
            </div>
        </div>
    <footer>
        <%- include ('../partials/footer.ejs') %>
    </footer>
</body>
</html>